<section class="welcome-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Bienvenue sur notre application</h1>
          <p>Découvrez comment utiliser notre application en parcourant notre tutoriel interactif.</p>
          <button class="btn btn-primary">Commencer le tutoriel</button>
        </div>
        <div class="col-md-6">
          <img src="assets/images/welcome-image.png"
           alt="Image d'accueil" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  
  <section class="tutorial-section">
    <div class="container mt-2">
      <div class="row">
        <div class="col-md-4">
            <div class="tutorial-block">
                <h3>Paiements</h3>
                <p>Apprenez à gérer les paiements dans notre application.</p>
                <button class="btn btn-link text-decoration-none"
                data-bs-toggle="modal" data-bs-target="#exampleModal">Voir plus</button>
              </div>
        </div>
        <div class="col-md-4">
            <div class="tutorial-block">
                <h3>Tableau de bord</h3>
                <p>Découvrez comment utiliser le tableau de bord pour surveiller les performances de votre entreprise.</p>
                <button class="btn btn-link text-decoration-none"
                data-bs-toggle="modal" data-bs-target="#exampleModal2">Voir plus</button>
              </div>
        </div>
        <div class="col-md-4">
            <div class="tutorial-block">
                <h3>Profil</h3>
                <p>Personnalisez votre profil et gérez vos préférences de compte.</p>
                <button class="btn btn-link text-decoration-none"
                data-bs-toggle="modal" data-bs-target="#exampleModal3">Voir plus</button>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <div class="tutorial-block">
                <h3>Enseignants</h3>
                <p>Apprenez à gérer les paiements dans notre application.</p>
                <button class="btn btn-link text-decoration-none"
                data-bs-toggle="modal" data-bs-target="#exampleModal">Voir plus</button>
              </div>
        </div>
        <div class="col-md-4">
            <div class="tutorial-block">
                <h3>Apprenants</h3>
                <p>Découvrez comment utiliser le tableau de bord pour surveiller les performances de votre entreprise.</p>
                <button class="btn btn-link text-decoration-none"
                data-bs-toggle="modal" data-bs-target="#exampleModal2">Voir plus</button>
              </div>
        </div>
        <div class="col-md-4">
            <div class="tutorial-block">
                <h3>Programmes</h3>
                <p>Personnalisez votre profil et gérez vos préférences de compte.</p>
                <button class="btn btn-link text-decoration-none"
                data-bs-toggle="modal" data-bs-target="#exampleModal3">
                  Voir plus</button>
              </div>
        </div>
      </div>
    </div>
  </section>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Comment saisir les informations de paiement : si votre application accepte les paiements par carte de crédit, montrez à la caissière comment saisir les informations de carte de crédit en toute sécurité,
         en veillant à ce que les informations de paiement soient cryptées et protégées.

       Comment effectuer un remboursement : expliquez comment la caissière peut 
        effectuer un remboursement en cas de retour d'un article ou de toute 
        autre raison. Montrez-lui comment accéder à la fonction de remboursement 
        et comment effectuer un remboursement complet ou partiel.
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Comment saisir les informations de paiement : si votre application accepte les paiements par carte de crédit, montrez à la caissière comment saisir les informations de carte de crédit en toute sécurité,
         en veillant à ce que les informations de paiement soient cryptées et protégées.

       Comment effectuer un remboursement : expliquez comment la caissière peut 
        effectuer un remboursement en cas de retour d'un article ou de toute 
        autre raison. Montrez-lui comment accéder à la fonction de remboursement 
        et comment effectuer un remboursement complet ou partiel.
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Comment saisir les informations de paiement : si votre application accepte les paiements par carte de crédit, montrez à la caissière comment saisir les informations de carte de crédit en toute sécurité,
        en veillant à ce que les informations de paiement soient cryptées et protégées.

      Comment effectuer un remboursement : expliquez comment la caissière peut 
       effectuer un remboursement en cas de retour d'un article ou de toute 
       autre raison. Montrez-lui comment accéder à la fonction de remboursement 
       et comment effectuer un remboursement complet ou partiel.
      </div>
    </div>
  </div>
</div>


  
