<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-light"><img src="assets/double_left_24px.png" alt=""></button>
    <button type="button" class="btn btn-light"><img src="assets/chevron_left_24px.png" alt=""></button>

    <button type="button" class="btn btn-light">1</button>
    <button type="button" class="btn btn-light">2</button>
    <button type="button" class="btn btn-light">3</button>
    <button type="button" class="btn btn-light">4</button>
    <button type="button" class="btn btn-light">5</button>
    <button type="button" class="btn btn-light">6</button>

    <button type="button" class="btn btn-light"><img src="assets/chevron_right_24px.png" alt=""></button>
    <button type="button" class="btn btn-light"><img src="assets/double_right_24px.png" alt=""></button>
</div>
