<div class="col">
    <div class="row">
        <div class="col-md-7">
            <h1>Liste des cours</h1>
        </div>
        <div class="col-md-5 ">
           <app-action-bouton (clickEvent)="nouveauCour()"></app-action-bouton>
        </div>
    </div>
    <div class="col m-3">
        <app-detail-cour *ngFor="let eng of cours"
        [courDto]="eng" (suppressionResult)="handelSuppression($event)"> 
    </app-detail-cour>
    </div>
    <div class="row text-center mb-2" *ngIf="cours.length > 0">
       <app-pagination-repetition></app-pagination-repetition>
    </div>
</div>


