<div class="col">
    <div class="row">
        <div class="col-md-7">
            <h1>Liste des enseignants</h1>
        </div>
        <div class="col-md-5 ">
           <app-action-bouton (clickEvent)="nouvelEnseignant()"></app-action-bouton>
        </div>
    </div>
    <div class="alert alert-danger" *ngIf="errorMsg">
        {{errorMsg}}
    </div>
    <div class="col m-3">
        <app-detail-engseignant *ngFor="let eng of enseignants"
        [enseignantDto]="eng" (suppressionResult)="handelSuppression($event)">
        </app-detail-engseignant>
    </div>
    <div class="row text-center mb-2" *ngIf="enseignants.length > 0">
       <app-pagination-repetition></app-pagination-repetition>
    </div>
</div>
