<div class="row mb-1 custum-button">
    <div class="col border-right">
            <img src="assets/student_male_100px.png" height="30px" width="30px" alt="">
    </div>
     <!-- details categorie-->
     <div class="col border-right">
        <div class="col">
                <i class="fa-solid fa-circle-info" style="color: #6776de;"></i>
                {{paiementAppDto.apprenantDto.nom}}
        </div>
    </div>
    <!-- details categorie-->
    <div class="col border-right">
        <div class="col">
                <i class="fa-solid fa-graduation-cap" style="color: #6776de;"></i>
                {{paiementAppDto.apprenantDto.niveau}}
        </div>
    </div>
    <!-- details categorie-->
    <div class="col border-right">
        <div class="col">
            {{paiementAppDto.apprenantDto.filiere}}
        </div>
    </div>

    <div class="col border-right">
        <div class="col">
                <i class="fa-solid fa-phone"  style="color: #6776de;"></i>
                {{paiementAppDto.apprenantDto.telephone}}
        </div>
    </div>
    <!-- details categorie-->
</div>




