<div class="row mb-1 custum-button">
    <div class="col border-right">
            <img src="assets/student_male_100px.png" height="30px" width="30px" alt="">
    </div>
    <!-- details categorie-->
     <!-- details categorie-->
     <div class="col border-right">
        <div class="col">
                <i class="fa-solid fa-circle-info" style="color: #6776de;"></i>
                Nom
        </div>
    </div>
    <!-- details categorie-->
    <div class="col border-right">
        <div class="col">
                <i class="fa-solid fa-graduation-cap" style="color: #6776de;"></i>
                    Niveau
        </div>
    </div>
    <!-- details categorie-->
    <div class="col border-right">
        <div class="col">
                Filiere
        </div>
    </div>

    <div class="col border-right">
        <div class="col">
                <i class="fa-solid fa-phone"  style="color: #6776de;"></i>
                6 756 656 67
        </div>
    </div>
    <!-- details categorie-->
</div>




