<div class="container my-container" style="margin-bottom: 25%;
margin-top:10%;max-width:40%">
    <div class="card justify-content-md-center">
        <div class="card-header text-center">
            <h3>S'inscrire</h3>
        </div>
        <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
            <span *ngFor="let msg of errorMsg">{{msg}}<br></span>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <input type="number" class="form-control" name="id"
                 placeholder="id de l'entreprise" [(ngModel)]="entreprise.id">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="nom"
                 placeholder="Nom de l'entreprise" [(ngModel)]="entreprise.nom">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="code"
                 placeholder="Code postal" [(ngModel)]="entreprise.code">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="adresse"
                 placeholder="Adresse" [(ngModel)]="entreprise.adresse">
            </div>
            <div class="mb-3 d-flex justify-content-between">
               <button type="button" class="btn btn-primary" (click)="saveClick()">Continuer</button>
               <a [routerLink]="['/login']" class="btn btn-link">Se connecter</a>
            </div>
        </div>
    </div>
</div>

