<div class="col">
    <div class="row">
        <div class="col-md-7">
            <h1>Liste des paiements enseignants</h1>
        </div>
        <div class="col-md-5 ">
            <app-action-bouton (clickEvent)="nouveauPaiementEng()"></app-action-bouton>
        </div>
    </div>
    <div class="col m-3">
        <div class="accordion mb-2" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                data-bs-target="#collapseOne" aria-expanded="true" 
                aria-controls="collapseOne">
                <div style="width: 100%;">
                  <app-detail-eng></app-detail-eng>
                </div>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" 
              aria-labelledby="headingOne" data-bs-parent="#accordionExample"
               style="max-height:280px; overflow-y:scroll;">
                <div class="accordion-body">
                  <app-detail-payement-eng></app-detail-payement-eng>
                </div>
              </div>
            </div>
            
          </div>

    </div>
    <div class="row text-center mb-2">
        <app-pagination-repetition></app-pagination-repetition>
    </div>
</div>



