<div class="col">
    <div class="row">
        <div class="col-md-7">
            <h1>Liste des emplois de temps</h1>
        </div>
        <div class="col-md-5 ">
            <app-action-bouton (clickEvent)="nouvelEdt()"></app-action-bouton>
        </div>
    </div>
    <div class="col m-3" *ngFor="let eng of edts"
       (suppressionResult)="handelSuppression($event)">
          <div class="accordion mb-2" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading2">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                [attr.data-bs-target]="'#collapse' + eng.id + eng.id" aria-expanded="true" 
                aria-controls="collapse2">
                    <div style="width: 100%;">
                      <app-detail-edt [edtDto]="eng">

                      </app-detail-edt>
                    </div>
                </button>
              </h2>
              <div id="collapse{{eng.id}}{{eng.id}}" class="accordion-collapse collapse" 
              aria-labelledby="heading2" data-bs-parent="#accordionExample"
               style="max-height:280px; overflow-y:scroll;">
                <div class="accordion-body">
                    <app-information-edt [edtDto]="eng">

                    </app-information-edt>
                </div>
              </div>
            </div>
            
          </div>
    </div>
    <div class="row text-center mb-2">
        <app-pagination-repetition></app-pagination-repetition>
    </div>
</div>


