<div class="row mb-1 custum-button">
    <div class="col border-right">
            <img src="assets/student_male_100px.png" height="30px" width="30px" alt="">
    </div>
    <!-- details categorie-->
    <div class="col border-right">
        <i class="fa-regular fa-calendar-days" style="color: #6776de;"></i>&nbsp;
        {{edtDto.date}}
    </div>
    <!-- details categorie-->
    <div class="col border-right">
        <i class="fa-solid fa-turn-up" style="color: #6776de;"></i>&nbsp;
                {{edtDto.niveau}}
    </div>
    <div class="col border-right">
        <i class="fa-solid fa-graduation-cap" style="color: #6776de;"></i>
             &nbsp;{{edtDto.filiere}}
    </div>
    <!-- details categorie-->
</div>





