<div class="d-flex mt-2">
    <div class="p-2 flex-fill">
        <button class="btn btn-warning">
            <i class="fa-solid fa-circle-down" style="color: black;"></i>
           &nbsp;Importer</button>
    </div>
    <div class="p-2 flex-fill">
        <button class="btn btn-success">
            <i class="fa-solid fa-circle-up" style="color: white;"></i>
           &nbsp;Exporter</button>
    </div>
    <div class="p-2 flex-fill">
        <button class="btn btn-primary" (click)="bouttonNouveauClick()">
            <i class="fa-solid fa-plus" style="color: white;"></i>
           &nbsp;Nouveau</button>
    </div>
</div>

